/* selector universal */ 
*{
    padding: 0 auto; 
    margin: 0 auto;
}
/* selecto ID */ 
#contenedor {
    width: 900px;
    height: 1000px;
    background-color: bisque;
}
#cabecera{
    height: 15%;
    background-color: red;
    text-align: center;

}
#BarraDeNavegacion{
    height: 5%;
    background-color: #fff;

}
#contenido{
    height: 70%;

}
#PieDePagina{
    height: 10%;
    background-color: green;
    text-align: center;
    line-height: 100px;
    font-family: tahoma;

}
/*selector de etiqueta */
ul{
    text-align: center;
    line-height: 50px;
}
li{     
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;

}
.imagenes {

    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    height: 100px; 
    border-style: solid;
    

}
.texto{

    text-align: justify;
    font-family: tahoma;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;

}
.encabezado_articulo{
    text-align: center;
    line-height: 120px;
    font-family: tahoma;
    font-size: 20px;
}
.titulo{
line-height: 120px;
font-family: tahoma;
}
.nombres{
    text-align: center;  
    display: inline;
font-size: 12px;
}